<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<header>
  <div class="logo">
    <h1>Neega</h1>
  </div>
  <div class="search-div">
    <form action="http://localhost:5028/api/Movies/search" method="GET">
      <input type="text" name="Search" [(ngModel)]="searchTitle" id="searchTitle" class="searchTitle" placeholder="Movie Title">
      <button class="search-button" (click)="onSearch()" ><i class="fa fa-search"></i></button>
    </form>
  </div>
  <div>

  </div>

</header>
<main>
  <div class="one">
    <h2>
      FILTER
    </h2>

    <div class="movie-lists">
      <div class="title">
        {{ movieData?.title || dummyData.title }}
      </div>
      <div class="time-date">
        <div class="year"> {{ movieData?.year || dummyData.year }}</div>
        <span>:</span>
        <div class="runtime">{{ movieData?.runtime || dummyData.runtime }}</div>

      </div>
      <div class="movie-details">
        <figure>
          <img
            src="{{ movieData?.poster || dummyData.poster }}"
            class="image" alt="moviePhoto">
        </figure>
        <div class="content-container">
          <div class="plot">

            {{ movieData?.plot || dummyData.plot }}
          </div>

          <div class="contents">
            <div class="type"> {{ movieData?.type || dummyData.type }}</div>

            <div class="rated"> {{ movieData?.rated || dummyData.rated }}</div>
            <div class="imdbRating"> {{ movieData?.imdbRating || dummyData.imdbRating }}</div>
            <div class="released"> {{ movieData?.released || dummyData.released }}</div>
            <div class="language"> {{ movieData?.language || dummyData.language }}</div>
            <div class="genre"> {{ movieData?.genre || dummyData.genre }}</div>
            <div class="country"> {{ movieData?.country || dummyData.country }}</div>

          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="two">
    <h2>
      Last Searchs
    </h2>
    <div class="search-list">

    </div>
  </div>
</main>
<router-outlet />
