<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<header>
  <div class="logo">
    <h1>Neega</h1>
  </div>
  <div class="search-div">
    <form action="">
      <input type="text" name="" [(ngModel)]="searchTitle" id="search" placeholder="Movie Title">
      <!-- <input type="button" value="&#10095;"> -->
      <button class="search-button"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <div>

  </div>

</header>
<main>
  <div class="one">
    <h2>
      FILTER
    </h2>

    <div class="movie-lists">
      <div class="title">
        Title
      </div>
      <div class="time-date">
        <div class="year"> 2024</div>
        <span>:</span>
        <div class="runtime">1hr 30mins</div>

      </div>
      <div class="movie-details">
        <figure>
          <img
            src="https://m.media-amazon.com/images/M/MV5BOTZkNjllMzYtY2ZiNi00YTdkLTg0OTEtZTgzOGY5Njc3NmNiXkEyXkFqcGdeQXVyMTUzMTg2ODkz._V1_SX300.jpg"
            class="image" alt="moviePhoto">
        </figure>
        <div class="content-container">
          <div class="plot">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, repudiandae? Maiores rerum repudiandae magnam
            nesciunt distinctio nemo nulla obcaecati, minima porro corrupti expedita laudantium aliquid aspernatur
            recusandae sequi. Fugit, praesentium.
          </div>

          <div class="contents">
            <div class="type">HD</div>

            <div class="rated">18+</div>
            <div class="imdbRating">8.6</div>
            <div class="released">something</div>
            <div class="language">English</div>
            <div class="genre">Action</div>
            <div class="country">Nigeria</div>

          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="two">
    <h2>
      Last Searchs
    </h2>
    <div class="search-list">

    </div>
  </div>
</main>
<router-outlet />
